{% extends 'base.html' %}
{% block content %}
<div class="wrapper">
  <h3>Open Task</h3>
  <form method="POST" >
    {% csrf_token %}
    <div class='form-control'>
      <label for="task">Task code</label>
      <input id="task" type="text" name="task_code" required />
    </div>

    <input type="submit" id = "task_input" class="button" value="Open Task" />
  </form>

    <br>
  <h3> Create new Task </h3>
  <form action="{% url 'create' %}"  method="POST">
    {% csrf_token %}
    <div class='form-control'>
      <label for="task_name">Task Name</label>
      <input id="task_name" type="text" name="task_name" required />

      <label for="task_desc">Task Desc</label>
      <input id="task_desc" type="text" name="task_desc" required />

    </div>

    <input type="submit" id = "task_create" class="button" value="Create Task" />
  </form>

</div>
{% endblock content %}